/* Input fields in register modal */
#register-input-fields{
	margin: 0 2.5%;
}


#profile-buttons{
	text-align: center;
	margin: 1% 0;
	line-height: 3em;

}

#speech-bubble{
	width: 200px;
	height: 150px;
	margin-top: -100px;
	margin-left: -49px;
}

#x{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#splash-login-container{
	/*border: 2px solid grey;*/
	/*padding: 10px 30px 30px 30px;*/
	background-color: #fff;
	margin-top: 5%;
}

#grid-headers{
	text-align: left;
	margin-left: 10px;
}

.myBody{
	background-color: #24292e;
}

.red{
	color: black;
	background-color: lightyellow;
	/*padding: 1% 0%;*/
}

#see-what-i-need-btns{
	margin-top: 10px;
}

.disabled{
	color: #696969;
}

#i-need-warning{
	margin: 10px 0;
}
.enabled{
	color: black;
}

#assignment-list{
	list-style: none;
	margin: 0px;
	padding: 0px;
}


#single-assignment-list-item li{

	margin: 0px;
	padding: 0px;
	margin: 1% 0;

}

#course-list{
	list-style: none;
	padding: none;
	margin: none;
	/*line-height: em;*/
	text-align: left;
}
#course-list li a{
	color: #020202;
	text-decoration-color: none;
}
#profile-header{
	text-align: center;
	background-color: #89898A;
	border-bottom: 2px solid black;
}

#main-container{

	text-align: center;
}

.course-name{
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-decoration-color: black;
	color: #020202;
}

.navbar{
	margin-bottom: 0;
}
/*.course-name{
	text-decoration: underline;
}*/

#single-course-view-container{
	border: 2px solid black;
	padding: 0px;
	margin: 0px;
	line-height: 2em;
	padding: 0% 2% 5% 2%;
	background-color: #89898A;
	color: #020202;
	font-size: 1.05em;
	margin-left: 2%;
	box-shadow: 5px 5px 5px grey;
}
#single-course-btns{
	margin: 0px;
	padding: 0px;
	line-height: 2.5em;
	text-align: center;
	margin: 5% 0;
}

#giant-chart-container{
	margin: 0;
	margin-top: auto;
	height: auto;
}

#single-course-btns h2{
	padding: 0px;
	margin: 0px;
}


#update-grade-container{
	margin-top: 10px;
	line-height: 2em;
	margin-left: 2%;
}

#single-course-header {
	text-align: center;
	margin: 0px;
	padding: 0px;
	margin-bottom: 5%;
}

.single-course-delete-btns{
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#course-list-container{
	border: 2px solid black;
	padding: 0 1%;
	box-shadow: 5px 5px 5px grey;
	background-color: #89898A;
	/*margin-right: 2%;*/
	padding-bottom: 1%;
}

.course-desc{
	margin-left: 0px;
}

.course-row{
	margin-bottom: 1%;
	margin-top: 10px;
}

#delete-course-btns{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.alert{
	margin: 0;
	padding: none;
	padding: 5px;
}

#main-container{
	height: 100%;
}
.delete-course-btn{
	padding: 5px 10px;
	margin: 0 10px;
}

#invalid-grade-warning{
	margin-top: 5px;
	padding: 10px 0px;
}

#selector-container{
	line-height: 2em;
	text-align: center;
	margin: 0px;
	padding: 0px;
	/*margin-right: 2%;*/
	margin-top: 1%;
	padding-bottom: auto;
}

#add-course-btn{
	margin: 0;
	padding: 0;
	margin-top: 3%;
}


#selector-container h3{
	padding: 0px;
	margin: 0px;
	text-decoration: underline;
	margin: 2%;
	width: auto;
}
#course-header{
/*	margin: 10px 2.5%;*/
	text-align: left;
	color: #020202;
	margin-left: 10px;
}

/**********/
/* MODALS */
/**********/

#login-modal-body{
	margin: 0 1%;
}
/* Center Modal Headers */
.form-group h4{
	text-align: center;
}
/* Add line height to modals */
.form-group div{
	line-height: 2em;
}

/* Dark Modal Theme */
.modal-header{
	background-color:  #080808;
	color: #9d9d9d;
}
/* Centers the Google Login button*/
#login-google-btn{
	text-align: center;
}

#grade-needed-container{

	line-height: 1.5em;
	text-align: center;
}

#chartDiv{
	max-height: 300px;
	max-width: 300px;
	text-align: center;
}

#chartDiv svg{
	max-height: 300px;
	max-width: 300px;
}



/* Settings */
#show-grade-range{
	margin-left: 2%;
}

#resetRangesBtn{

}

#changeSemesterModal{
	text-align: center;
	line-height: 1.5em;
}

#new-assignment{
	margin-top: 18px;
}

.real-course-name{
	color: black;
}

.real-course-desc{
	color: #232323;
}

#navbar-courses{
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #333;
}

#navbar-courses li a{
	/*border: 0.5px solid black;*/
	color: #9d9d9d;
}

.dropdown-menu{
	margin: 0;
	padding: 0;
	border: 2px solid black;
}

.course-grade{
	margin-top: 5px;
	font-size: 1.25em;

}

#user-profile-pic{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#filter-div{
	margin: 1% 0;
}



a{
	color: #020202;
}

#settings-page{
	text-align: center;
}

#splash-page-header{
	text-align: center;
}

#splash-page-header h1, h4 {
	margin: 0;
	margin: 1% 0;
}

#splash-page-newuser{
	text-align: center;
	margin: 8% 0;

}



#new-user{
	margin-bottom: 3%;
}

#new-user-sign-up{
	margin-bottom: 5%;
}

.assignment-desc{
	margin:0;
}

#no-courses-container h3{
	margin: 0;
	margin-top: 3.5%;
}

#new-user-arrow{
	font-size: 2.25em;
	margin-top: 3.25%;
}