/* Input fields in register modal */
#register-input-fields{
	margin: 0 2.5%;
}


#profile-buttons{
	text-align: center;
	margin-top: 7.5%;
}

/* Splash Page Styling */
#splash-container{
	/*margin: 0 5%;*/
	/*width: 50%;*/

}
#x{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#splash-login-container{
	border: 2px solid grey;
	padding: 10px 30px 30px 30px;
	background-color: #fff;
}

.myBody{
	background-color: #24292e;
}

.red{
	color: black;
	background-color: yellow;
	padding: 1%;
}

.disabled{
	color: #808080;
}

.enabled{
	color: black;
}

#assignment-list{
	list-style: none;
	margin: 0px;
	padding: 0px;
}


#single-assignment-list-item li{
	margin: 0px;
	padding: 0px;
	margin-top: 2%;
}

#course-list{
	list-style: none;
	padding: none;
	margin: none;
	line-height: 2.5em;
	text-align: left;
}
#course-list li a{
	color: #020202;
	text-decoration-color: none;
}
#profile-header{
	text-align: center;
}

#main-container{

	text-align: center;
}

#single-course-view-container{
	border: 2px solid black;
	padding: 0px;
	margin: 0px;
	line-height: 2em;
	padding-bottom: 1%;
	background-color: #89898A;
	color: #020202;
	font-size: 1.05em;
	margin-left: 2%;
}
#single-course-btns{
	margin: 0px;
	padding: 0px;
	line-height: 2.5em;
	text-align: center;
	margin: 5% 0;
}
#single-course-btns h2{
	padding: 0px;
	margin: 0px;
}

.course-name{
	text-decoration: underline;
}


#single-course-header h1{
	text-align: center;
	margin: 0px;
	padding: 0px;
	margin-bottom: 2%;
}

.single-course-delete-btns{
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#course-list-container{
	border: 2px solid black;
	padding: 0 1%;
	margin-left: -2%;
	background-color: #89898A;
	margin-right: 2%;
	padding-bottom: 1%;
}

#delete-course-btns{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.alert{
	margin: 0;
	padding: none;
	padding: 5px;
}
#main-container{
	height: 100%;
}
.delete-course-btn{
	padding: 5px 10px;
	margin: 0 10px;
}

#selector-container{
	line-height: 2em;
	text-align: center;
	margin: 0px;
	padding: 0px;
	margin-right: 2%;
	margin-top: 5%;
	padding-bottom: auto;
}

#selector-container h3{
	padding: 0px;
	margin: 0px;
	text-decoration: underline;
}
#course-header{
	margin: 10px 5%;
	text-align: left;

	color: #020202;
}

/**********/
/* MODALS */
/**********/

#login-modal-body{
	margin: 0 1%;
}
/* Center Modal Headers */
.form-group h4{
	text-align: center;
}
/* Add line height to modals */
.form-group div{
	line-height: 2em;
}

/* Dark Modal Theme */
.modal-header{
	background-color:  #080808;
	color: #9d9d9d;
}
/* Centers the Google Login button*/
#login-google-btn{
	text-align: center;
}

#grade-needed-container{
	margin-left: 5%;
	line-height: 2em;
}

