/* Input fields in register modal */
#register-input-fields{
	margin: 0 2.5%;
}


#profile-buttons{
	text-align: center;
}







/**********/
/* MODALS */
/**********/

#login-modal-body{
	margin: 0 1%;
}
/* Center Modal Headers */
.form-group h4{
	text-align: center;
}
/* Add line height to modals */
.form-group div{
	line-height: 2em;
}

/* Dark Modal Theme */
.modal-header{
	background-color:  #080808;
	color: #9d9d9d;
}
/* Centers the Google Login button*/
#login-google-btn{
	text-align: center;
}