/* Input fields in register modal */
#register-input-fields{
	margin: 0 2.5%;
}


#profile-buttons{
	text-align: center;
}

/* Splash Page Styling */
#splash-container{
	/*margin: 0 5%;*/
	/*width: 50%;*/

}
#x{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#splash-login-container{
	border: 2px solid grey;
	padding: 10px 30px 30px 30px;
	background-color: #fff;
}

.myBody{
	background-color: #24292e;
}

.red{
	color: black;
	background-color: yellow;
	padding: 1%;
}

.disabled{
	color: #808080;
}

.enabled{
	color: black;
}

#assignment-list{
	list-style: none;

}

#single-assignment-list-item li{
	margin-top: 2%;
}

#course-list{
	list-style: none;
	padding: none;
	margin: none;
}
#course-list li{

}
#profile-header{
	text-align: center;
}

#course-list-container{

	text-align: center;
}

.alert{
	margin: 0;
	padding: none;
	padding: 5px;
}


/**********/
/* MODALS */
/**********/

#login-modal-body{
	margin: 0 1%;
}
/* Center Modal Headers */
.form-group h4{
	text-align: center;
}
/* Add line height to modals */
.form-group div{
	line-height: 2em;
}

/* Dark Modal Theme */
.modal-header{
	background-color:  #080808;
	color: #9d9d9d;
}
/* Centers the Google Login button*/
#login-google-btn{
	text-align: center;
}