<div class="modal fade" tabindex="-1" role="dialog" id="loginModal" ng-controller="UserCtrl">
      <div class="modal-dialog modal-sm" role="document">
       <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" ng-model="header">Login</h4>
          </div>
          <div class="modal-body" >
            <section class="form-group">
              <h4>Welcome Back</h4>
              <div>
                Email: <input id="login-email-field" class="form-control login-input" type="text" autofocus="true"  ng-model="account.email" ng-focus="true">
                Password: <input class="form-control login-input" type="password" ng-model="account.password">
              </div> 
              <br>
              <div id="login-google-btn"><img src="img/google_login.png" width="175" ng-click="loginGoogle()"></div>
            </section>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary"  data-dismiss="modal" ng-click="loginUser()">Login</button>
            <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
      </div>
    </div>