<div class="modal fade" tabindex="-1" role="dialog" id="changeSemesterModal">
      <div class="modal-dialog modal-sm" role="document">
       <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" ng-model="header">Change Current Semester</h4>
          </div>
          <div class="modal-body" >
            <section class="form-group">
              <h4>Change Current Semester</h4>
              <div>
                Current Semester: <span>Fall '17</span>
                <select ng-model="newCurrentSemester" ng-options="x for x in currentSemesterChoices">
                  
                </select>
              </div> 
            </section>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary"  data-dismiss="modal" ng-click="updateCurrentSemester(newCurrentSemester)">Change Semester</button>
            <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
      </div>
    </div>