<nav class="navbar navbar-inverse" ng-controller="UserCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ng-href="#!/{{user}}">MyGrades</a>

        <button type="button" class="navbar-toggle btn btn-primary dropdown-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        </button>



    </div>
    <ul class="nav navbar-nav">
        <li id="navbar-profile-btn" ng-show="isLoggedIn"><a ng-href="#!/{{user}}">Profile</a></li>

          <li class="dropdown" ng-show="isLoggedIn" uib-dropdown>
            <a class="btn dropdown-toggle" uib-dropdown-toggle> My Semster <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <div id="navbar-courses" ng-repeat="course in navCourses" >
                    <li><a ng-href="#!/courses/{{course.id}}">{{course.name}}</a></li>
                </div>
            </ul>
          </li>
    </ul>


    <ul class="nav navbar-nav navbar-right">
    		<!-- ng-model for text -->
      <li><a ng-href="#" ng-show="!isLoggedIn" ng-click="openRegisterModal()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a ng-href="#" ng-show="!isLoggedIn" ng-click="openLoginModal()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
<!--       <li><a ng-href="#!/{{user}}/settings" ng-show="isLoggedIn"><span class="glyphicon glyphicon-cog"></span> Settings</a></li> -->
      <li><a ng-href="#" ng-show="isLoggedIn" ng-click="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<!-- Modal Login Window (login.html) -->
<div ng-include="'partials/MODAL_login.html'"></div>
<!-- Modal Register Window (register.html) -->
<div ng-include="'partials/MODAL_register.html'"></div>