<h1>User Settings</h1>


<button>Import From Canvas</button><br>
<button>Change Password</button>



<!-- <h3>Grade Ranges</h3>
<label>A: </label><input type="number" placeholder="91"> - <input type="number" placeholder="100"><br>
<label>B: </label><input type="number" placeholder="81"> - <input type="number" placeholder="90"><br>
<label>C: </label><input type="number" placeholder="71"> - <input type="number" placeholder="80"><br>
<label>D: </label><input type="number" placeholder="60"> - <input type="number" placeholder="69"><br>
<label>F: </label><input type="number" placeholder="0" > - <input type="number" placeholder="59"><br>

 -->